<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap/bootstrap.css')}}">
    <title>Success</title>
</head>
<body class="bg-dark">
    <div class="container mt-5 col-4">
        <div class="card">
            <div class="card-header bg-success">
                <h1>Success!</h1>
                <p>Welcome back, {{ current_user.first_name}}  {{ current_user.last_name}}!</p>
            </div>

            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h2>Very nice!</h2>
                <img class="img-fluid" src="/static/img/verynice.jpg" alt="A very nice man with very nice mustache!">
            </div>

            <div class="card-footer">
                <p class="btn btn-primary "><a class="text-light" href="/logout">Logout</a></p>
            </div>
        </div>
    </div>
</body>
</html>